@charset "UTF-8";
/* набор иконок можно посмотреть по ссылке   */




@font-face {
  font-family: 'clear_sansbold';
  src: url('clear-sans/clearsans-bold.woff2') format('woff2'),
       url('clear-sans/clearsans-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'clear_sansbold_italic';
  src: url('clear-sans/clearsans-bolditalic.woff2') format('woff2'),
       url('clear-sans/clearsans-bolditalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'clear_sansitalic';
  src: url('clear-sans/clearsans-italic.woff2') format('woff2'),
       url('clear-sans/clearsans-italic.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'clear_sans_lightregular';
  src: url('clear-sans/clearsans-light.woff2') format('woff2'),
       url('clear-sans/clearsans-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'clear_sans_mediumregular';
  src: url('clear-sans/clearsans-medium.woff2') format('woff2'),
       url('clear-sans/clearsans-medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'clear_sans_mediumitalic';
  src: url('clear-sans/clearsans-mediumitalic.woff2') format('woff2'),
       url('clear-sans/clearsans-mediumitalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'clear_sansregular';
  src: url('clear-sans/clearsans-regular.woff2') format('woff2'),
       url('clear-sans/clearsans-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'clear_sans_thinregular';
  src: url('clear-sans/clearsans-thin.woff2') format('woff2'),
       url('clear-sans/clearsans-thin.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'Yanone Kaffeesatz';
  src: url('fonts/yanone/YanoneKaffeesatz-Regular.eot');
  src: url('fonts/yanone/YanoneKaffeesatz-Regular.eot?#iefix') format('embedded-opentype'),
      url('fonts/yanone/YanoneKaffeesatz-Regular.woff2') format('woff2'),
      url('fonts/yanone/YanoneKaffeesatz-Regular.woff') format('woff'),
      url('fonts/yanone/YanoneKaffeesatz-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?f2mkqd');
  src:  url('fonts/icomoon.eot?f2mkqd#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?f2mkqd') format('truetype'),
    url('fonts/icomoon.woff?f2mkqd') format('woff'),
    url('fonts/icomoon.svg?f2mkqd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-cart:before {
  content: "\e906";
}
.icon-mt-cat-1:before {
  content: "\e900";
}
.icon-mt-cat-2:before {
  content: "\e901";
}
.icon-mt-cat-3:before {
  content: "\e902";
}
.icon-mt-cat-4:before {
  content: "\e903";
}
.icon-mt-cat-5:before {
  content: "\e904";
}
.icon-mt-cat-6:before {
  content: "\e905";
}
.icon-long-arrow-down:before {
  content: "\f175";
}
.icon-long-arrow-up:before {
  content: "\f176";
}
.icon-long-arrow-left:before {
  content: "\f177";
}
.icon-long-arrow-right:before {
  content: "\f178";
}